{% extends "base.html" %}

{% block content %}
  <ul>
    {% if recipes %}
      <h2 class="text-center">Here are some recipes that contain the ingredients you requested:</h2>
      {% for recipe in recipes %}
        <a href="http://www.bigoven.com/recipe/{{ recipe.bigoven_id }}"><li> {{ recipe.recipe_name }} </li></a>
      {% endfor %}
      <div class="text-center">
	<h2>Not the results you were looking for?  Search again with new ingredients.</h2>
	<form class="form-inline" action="/recipes/results/" method="get">
	  <input id="ingredients-input" type="text" class="form-control" name="q" placeholder="Ingredients">
	  <button id="ingredients-submit" type="submit" class="btn btn-info">Submit</button>
	</form>
      </div>
    {% else %}
      <div class="text-center">
	<h2> Whoops! The combination of ingredients you entered yields no recipes! Try a new search.</h2>
	<form class="form-inline" action="/recipes/results/" method="get">
	  <input id="ingredients-input" type="text" class="form-control" name="q" placeholder="Ingredients">
	  <button id="ingredients-submit" type="submit" class="btn btn-info">Submit</button>
	</form>
      </div>
    {% endif %}
  </ul>
{% endblock %}
