body {
    font-family: Roboto, Arial, sans-serif;
    font-weight: 300;
    font-size: 18px;
    background-color: #222;
    color: #999;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Roboto, Arial, sans-serif;
    font-weight: 300;
}

p,
.post-content h5 {
    line-height: 1.4em;
    margin-bottom: 22px;
}

a:hover {
    color: #47CBF7;
}

.navbar {
    font-family: Oswald, Arial, sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 25px;
    background-color: rgba(0,0,0,0.5);
    padding: 5px 0;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    background-color: transparent;
    color: #ccc;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    background-color: transparent;
    color: #C00;
}

/* --- Override Bootstrap stuff --- */
.well {
    background-color: #333;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.well blockquote {
    border-color: rgba(0, 0, 0, 1);
    background-color: #393939;
}

.panel-body .well {
    background-color: #ccc;
    color: black;
}

.alert-warning {
    background-color: rgba(102, 0, 0, 0.5);
    border: none;
}

.label-info {
    background-color: #333;
    padding: 10px;
    color: #fff;
}

.label-warning {
    background-color: #900;
}

.label-default  a:hover {
    color: #900;
}
.label {
    padding: 10px;
}

.label:hover {
    text-decoration: none;
}

.btn-primary, .btn-primary:hover,
.btn-info, .btn-info:hover {
               background-color: #900;
               border-color: #900;
               margin-bottom: 5px;
           }

a:hover {
    text-decoration: none;
    color: #ccc;
}

.label-default, {
    color: #fff;
}

.panel-default,
.panel-default>.panel-heading,
.panel-body,
.panel-default>.panel-heading+.panel-collapse>.panel-body {
    color: #999;
    background-color: #333;
    border-color: #666;
    border-top-color: #666;
}

/* input fields */
input[type=text], input[type=password], .textarea, input[type=email], input[type=url], #id_comment, #id_body {
    padding: 5px;
    background-color: #ccc;
    border: #ccc;
    color: #900;
}

.badge {
    position: absolute;
    right: -10px;
    top: 14px;
    background-color: #C00;
}